body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    position: relative;
    width: 100%;
    height: 100%;
}

p {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

li {
    list-style: none;
}


.header {
    height: 58px;
    background-color:  rgba(0, 0, 0, 0.4);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.header-title__properties {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 79px;
    
}

.header-title__properties:hover {
    color: #3CB878;
    cursor: pointer;
    transition: 1s;
}

.header-box_right {
    display: flex;
    align-items: center;
}

.header-list::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 1px;
    height: 19px;
    right: 0;
    top: 12%; 
    opacity: 0.5;
    margin-right: 12%;
}

.header-link,
.header-img__svg:hover path {
    fill: #3CB878;
    transition: 1s;
}

.header-list {
    display: flex;
    position: relative;
    padding-right: 10px;
}

.header-link {
    margin-right: 25px;
}

.header-box__link {
    display: flex;
    align-items: baseline;
    padding-right: 79px;
}

.header-text__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin: 0 5px;
}

.header-link-box:hover {
    color: #3CB878;
    transition: 1s;
}

.section {
    display: flex;
    justify-content: center;
    margin: 54px 0 74px 0;
}

.section-inner {
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
}

.section-social {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 31px;
}

.section-faceboock__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-bottom: 15px;
}

.section-inner::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 31px;
}

.section-google {
    bottom: 0;
}

.section-google-link {
    position: absolute;
    top: 8px;
    right: 14%;
    text-align: right;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}

.section-google-link:hover {
    text-decoration: underline;
}

.btn {
    position: relative;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}

.btn::before, .btn::after {
    content: "";
    position: absolute;
    border-left: 1px solid ;
    left: 43px;
    top: 7px;
    width: 1px;
    height: 28px;
    color: #0A162F;
    opacity: 0.1;   
}

.btn-blue {
    background-color: #305DB8;
    margin-right: 4px;
    padding-left: 40px;
}


.btn-blue:active {
    background-color: #022263;
    transition: 0s;
}

.btn-red {
    background-color: #DF4A32;
    padding-left: 40px;
    margin-top: 35px;
}


.btn-red:active {
    background-color: #AB1F09;
    transition: 0s;
}


.img-bg__faceboock {
    position: absolute;
    left: 9%;
    top: 20%;
}

.img-bg__google {
    position: absolute;
    left: 5%;
    top: 27%;
}


.form{
    position: relative;
}

.form-subtitle {
    position: absolute;
    color: #848484;
    bottom: 76%;
    right: 214px;
}

.form-subtitle::after {
    content: "";
    position: absolute;
    width: 154px;
    border-bottom: 1px solid #F2F2F2;
    top: 10px;
    
}

.form-subtitle::before {
    content: "";
    position: absolute;
    width: 151px;
    border-bottom: 1px solid #F2F2F2;
    top: 10px;
    left: -153px;
}


.label-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 6%;
    left: -383px;
}

.label {
    margin-top: 15px;
}

.input {
    
    width: 324px;
    height: 46px;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    font-size: 14px;
    line-height: 14px;
}

.input::placeholder {
    color:  #BEBEBE;
}

.input:focus {
    box-shadow: 0px 3px 8px rgb(14 153 236 / 21%);
}

.checkbox-input {
    margin-top: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: green;
}

.checkbox-text {
    color: #434343;
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
}

.text-color {
    color: rgba(60, 184, 120, 0.8);
}

.btn-form {
    margin-top: 20px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.btn-form:active {
    background-color: #01813F;
}
